<header>
  <nav>
    <a href="/videos"
      ><h2 class="logo">Boye <span>bi</span></h2></a
    >
    <ul>
      <li><a href="/videos">Ba videos</a></li>
      <li><a href="/about">A propos na biso</a></li>
      <li><a class="signOutBtn" href="/sessionLogout">Deconnecter</a></li>
      <!-- <li><a href="/addVideo">Bakisa Video</a></li>
      <li><a href="/profile">Profil na nga</a></li> -->
    </ul>
  </nav>
</header>
