<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>A propos na biso</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <div class="hero">
      <div class="container">
        <h1
          class="text-uppercase text-center h1 text-white"
          style="padding: 20px"
        >
          Ebamdeli ya Likambo
        </h1>
        <p class="lh-lg text-white" style="font-size: 24px">
          Youtube ezali elanga munene ya boyebi ya batu na mokili na ndenge ya
          bilili. Yango tina batu basalelaka Youtube, eza pona bokolisi ya
          bososoli n'eloko songolo pakala. Mutu nionso akoki kosalela Youtube,
          elakisi ete biso nionso tokoki kokotisa boyebi na biso na kati ya
          Youtube na ndenge ya bilili. Kasi elakisi te ete boyebi nionso ekozala
          na bosembo yako tikala na kati ya Youtube. Na yango, bakolo Youtube
          nde baza na makasi yako pona nini bakoki kokotisa na Youtube pe nini
          basengeli bapekisa. Wana nde boyokani pe mibeko epesamela bakolo
          Youtube epai ya bakonzi na bango po bazala na makoki ya kokoba musala
          na bango ya Youtube. Lokola eza elanga munene, batu ndenge na ndenge
          bazali kosalela nzela ya Youtube pona koteka boyebi na bango na ndenge
          ya bilili. Solo ezalii pete pona kobanza pe pasi pona kobosana boyebi
          oyo elakisami na kati ya elili. <br />
          <br />
          mikakatano emonani tango Youtube azali kopekisa bilili oyo bikowelisa
          bosembo ya bakonzi ya mboka pe ya mabele ya batu mosusu, lokola oyo ya
          biso Bayindo na Republique Democratic du Congo. Pamba te boyebi ya
          batu a mokili ekeseni pe na bizaleli pe bokolisi oyo batu bakolakisa
          nzinga nzinga na bango. Lokola ndaku ya Youtube etelemi na mboka
          Mindele (California, U.S.A), efongoli ete Youtube na mibeko na yango,
          bikolanda se matambe ya ba oyo bazali nzinga nzinga na yango. Mindele
          ya lelo. Elakisi ete biloko oyo Mundele akokumisa ekosepelisa biso
          Bayindo na nionso te.
          <br /><br />
          Bongo, mikakatano ebukani na bososoli ete bizaleli pe bokolisi na ye
          Moyindo, ekeseni na ye Mundele. Wana boyebi. Ndakisa etalisami na
          etamboli pe bomesano ya mwana na baboti na ye. Solo, eyebani ete
          Moyindo apesaka bakolo na ye botosi. Po ayebi ndenge mutu asengeli
          kovanda na batu, ata soki ayebi bango malamu te, lokola bapaya. Pona
          kobakisa, Bayindo ya lelo bazali mingi bilenge. Yango wana bokolisi na
          bango esengi batosa bakolo na bango. Na mokuse, balakisa Moyindo
          bolingo na kati ya libota. Na yango, ezali ya kokamwa te soki Moyindo
          ayebi ete kozanga mokolo mingi moboti na yo botosi, ezali bilakeli
          mabe pe lisumu.
          <br /><br />
          Kasi lisumu oyo ekeseni na ba oyo ya Mindele po eyebani pe ete Mundele
          alengelaka botosi ya batu te. Ata epai ya moboti na ye moko. Na kidiba
          pe buzoba nionso bamilakelaka mabe na tango ya mawa, y’esengo,
          y'esepeli kutu, koloba te. Boye pamba te ezali bomesano na bango.
          Baboya kondima ete kozanga mutu ya se pe botosi, ememaka pe bilakeli
          mabe. Moyindo akolisama na bayebi ete longola yo moko, mutu akolinga
          yo koleka baboti na yo, azali se moninga. Nde tina yako yoka pe
          kolanda maloba ya bakoko na yo.
          <br /><br />
          Ba sete oyo basilami na kopikolama awa nde bimonisi ete boyebi mosusu
          outa Bayindo, bikoki soki moke te kokangama na ba oyo outa Mindele,
          nde pe na mibeko oyo bakolo Youtube basili na kobongisa na bakonzi
          Mindele. E bandi wana, po ete makanisi ya ye Moyindo ekeseni na ya ye
          Mundele. Mingi lisusu na bobangi Nzambe. Ndakisa, ye YAYA Kimpa Vita
          oyo na tango na ye alekisaki maloba ete: "Bino Basango kutu bozali na
          bino mpe basali ya Nzambe te mpo ete Nzambe te atindaki bino awa.
          Kasi, ezali bakonzi na bino oyo bamonaki ete nzala elekaki makasi epai
          na bino, nde batinda-tinda bino mpo bokendeke kokosa bato na bisika
          nionso oyo bokokuta bomengo." (Mfumu Nkusu, 2019) boye, lokola awa na
          mboka Kongo (R.D.C). Solo, nde ntina baboma na lolenge ya kotumba YAYA
          Kimpa Vita mpo asalela boyebi outa Nzambe pona koluka bolamo ya
          Bayindo.
          <br /><br />
          Na yango, bilili mosusu oyo Bayindo bakotisi na Youtube pona koluka
          bolamu na bango, bakolo Youtube bazali kolongola. Pamba te mwa
          likanisi malamu pona Bayindo, epekisami epai ya bakonzi Mindele. Soki
          bilili bakotisi bilobeli boyebi ya likolo lokola ndenge kongumbamela
          Nzambe ya bapaya esukisa Bayindo na pasi pe milelo, bakolo Youtube
          bakozwa tina yako longola elili wana. <br /><br />
          Etamboli Moyindo azwa ekoki mukolo moko te kobalana na etamboli ya
          Mindele, na nionso te. Likambo oyo e kozala polele lisusu soki Moyindo
          akaniseli ntina bilombe lokola YAYA Kimpa Vita, Patrice Emery Lumumba,
          Thomas Isidore Sankara na bakoko nionso oyo basilamaki kokufela bomoyi
          na ye, bakufaki. Ezali boyebi ya boye nde basaleli Youtube misusu
          lokola "Vuvamu TV", "Bamuangisi TV" na "Pensee Kamite" bazali komeka
          kolimbolela Bayindo na bilili mpe na bokebi ya mibeko bipesamela
          Youtube. <br /><br />
          Kasi kokoso ezali ete basala Moyindo ayina Kibo-Motu na ye nde
          abungisa boyebi nionso bakoko na ye batikelaka ye. Na yango, azali
          kondima na pete ete mayele nionso eouta epai ya bakoko naye, ezali ya
          kala, ya se, misala mabe, kindoki pe tina te. Nzokande na kokanisa
          bongo, Moyindo azali nde koboya pe kobundisa kibo-Muto na ye moko.
          Bososoli oyo nde elakisi ete esengeli kosalela mayele mosusu bakoko
          batika. Bongo, babanda na kotika kobanga boyebi na bango moko pamba te
          ekangisi ntina ya ba pasi ya lelo.
          <br /><br />
          Misosoli oyo miwuti kofungwama awa, mikoki mokolo moko te kosepelisa
          Mutu oyo azali na ye Moyindo te. Pamba te soki Moyindo akobi na kidiba
          na ye ya lelo, banguna na ye bakosepela kolya ye. Kasi soki a kangi
          ntina ya maye misalema pe mizali kosalema po akoba na ba pasi ya lelo,
          akomona ete banguna na ye balingi nde Kibo-Mutu na ye te. Solo banguna
          basala nionso mpo ete Moyindo abosana ete ezale mpe muto. Boye,
          esengeli Moyindo akangisa ntina ya ba pasi na ye pe esika ezali kouta.
          Nde lisolo ya Bayindo ekotika kopesa kaka pasi na motema mpe bololo na
          munoko mpo eza na boyekoli mpe na kati. <br /><br />
          Ba oyo bateyaka bokoko ya Bayindo lokola "Bamuangisi TV" na "Vuvamu
          TV" basengeli kotelema, pe bilenge ya lelo pe, basengeli kolendisa
          bango. Lokola Youtube eko bongola motema te pe bakonzi ya Bayindo
          bazangi makoki yako matela Youtube pe yako kolimbolela bakolo Youtube
          bakokoso ya Mutu Moyindo; Biso moko Bayindo esengeli tomisalela
          bilanga ya Boyebi na ndenge ya bilili. Na malembe, Moyindo akopusana
          kino akoma na esika ya koyekola bokoko na ye na kimia pe ofele nionso.
        </p>
      </div>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"
      defer
    ></script>
  </body>
</html>
